openapi: 3.2.0
info:
  title: Kombo Unified HRIS API
  version: 1.0.0
  description: Unified endpoints to access all the HR concepts you might need.
servers:
- url: https://api.kombo.dev/v1
  description: Kombo EU API
- url: https://api.us.kombo.dev/v1
  description: Kombo US API
security:
- ApiKey: []
tags:
- name: Unified HRIS API
  description: Unified endpoints to access all the HR concepts you might need.
paths:
  /hris/provisioning-groups/{group_id}/diff:
    post:
      operationId: PostHrisProvisioningGroupsGroupIdDiff
      summary: Get provisioning diff
      description: Get the list of users to provision, deprovision, and optionally update based on the users you've already provisioned in your system.
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: group_id
        in: path
        required: true
        description: ID of the provisioning group (currently only `default` is allowed).
        schema:
          $ref: '#/components/schemas/PostHrisProvisioningGroupsGroupIdDiffParameterGroupId'
        examples:
          example1:
            value: n39n320clr8c5amf8v83nbch
      requestBody:
        description: POST /hris/provisioning-groups/:group_id/diff Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisProvisioningGroupsGroupIdDiffRequestBody'
            examples:
              example1:
                value:
                  provisioned_users:
                  - origin_id: your_id_123
                    email: johndoe@example.com
                  options:
                    employee_fields:
                    - id
                    - first_name
                    - last_name
      responses:
        '200':
          description: POST /hris/provisioning-groups/:group_id/diff Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisProvisioningGroupsGroupIdDiffPositiveResponse'
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/provisioning-groups/{group_id}/setup-links:
    post:
      operationId: PostHrisProvisioningGroupsGroupIdSetupLinks
      summary: Create provisioning setup link (deprecated)
      description: "Create a new link that can be passed to the Kombo Connect SDK to open the provisioning setup UI.\n\n<Warning>\n  **This endpoint is deprecated!**\n\n  Please use the [Create Setup Flow link endpoint](/v1/post-integrations-integration-id-setup-link) instead. It supports the full Setup Flow (including filtering, field mapping, and any other enabled steps) and works for any integration category, not just HRIS.\n</Warning>"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: group_id
        in: path
        required: true
        description: ID of the provisioning group (currently only `default` is allowed).
        schema:
          $ref: '#/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksParameterGroupId'
        examples:
          example1:
            value: n39n320clr8c5amf8v83nbch
      requestBody:
        description: POST /hris/provisioning-groups/:group_id/setup-links Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksRequestBody'
            examples:
              example1:
                value:
                  language: en
      responses:
        '200':
          description: POST /hris/provisioning-groups/:group_id/setup-links Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      url: https://connect.kombo.dev/v1/setup?token=GinuMJCpUQ9xdpLmD2ocw8qdiK3qiPCizDCv754EXri2vAX4
                      expires_at: '2023-10-11T12:00:00.000Z'
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/employees:
    get:
      operationId: GetHrisEmployees
      summary: Get employees
      description: 'Retrieve all employees.


        <Note>Not interested in most fields? You can use our [our Scopes feature](/scopes) to customize what data points are synced.</Note>


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `employments` | ✓ Yes | ✓ Yes |

          | `time_off_balances` | ✓ Yes | ✓ Yes |

          | `manager` | n/a | ✓ Yes |

          | `group_memberships` | ✓ Yes | ✗ No |

          | `legal_entity` | n/a | ✓ Yes |

          | `work_location` | n/a | ✓ Yes |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterRemoteIds'
      - name: employment_status
        in: query
        required: false
        description: '**(⚠️ Deprecated - Use the `employment_statuses` filter instead.)** Filter by the `employment_status` field.'
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterEmploymentStatus'
      - name: employment_statuses
        in: query
        required: false
        description: "Filter by a comma-separated list of `ACTIVE`, `PENDING`, `INACTIVE`, `LEAVE` \n* `ACTIVE`: the employee is **actively employed** \n* `PENDING`: the employee is **not actively employed yet** (but they signed their contract or are part of an onboarding process) \n* `INACTIVE`: a full-time employee is no longer employed, or, for a contract worker when their contract runs out \n* `LEAVE`: the employee is still employed but **currently on leave** (note that not all HR systems support this status — use our absences API for detailed information) \n \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterEmploymentStatuses'
      - name: group_ids
        in: query
        required: false
        description: Filter by a comma-separated list of group IDs. We will only return employees that are members of _any_ of the groups.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterGroupIds'
      - name: legal_entity_ids
        in: query
        required: false
        description: Filter by a comma-separated list of legal entity IDs. We will only return employees that are members of _any_ of the legal entities.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterLegalEntityIds'
      - name: work_location_ids
        in: query
        required: false
        description: Filter by a comma-separated list of work location IDs. We will only return employees who are at _any_ of the work locations.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterWorkLocationIds'
      - name: work_emails
        in: query
        required: false
        description: Filter by a comma-separated list of work emails. We will only return employees who have _any_ of the work emails. The format of the emails is case-insensitive.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterWorkEmails'
      - name: personal_emails
        in: query
        required: false
        description: Filter by a comma-separated list of personal emails. We will only return employees who have _any_ of the personal emails. The format of the emails is case-insensitive.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterPersonalEmails'
      - name: custom_fields
        in: query
        required: false
        description: A JSON string with a single key-value pair like {"fieldKey":"fieldValue"} to filter employees by a specific custom field value. Note that the value must be a string, number, boolean or null and the key must be a valid custom field key. Custom fields with a value of type array or object are not supported.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeesParameterCustomFields'
      responses:
        '200':
          description: GET /hris/employees Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisEmployeesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        employee_number: '3243422'
                        first_name: John
                        last_name: Doe
                        nationality: French
                        display_full_name: John Doe
                        job_title: Integrations Team Lead
                        work_email: john.doe@acme.com
                        personal_email: john@doe.me
                        mobile_phone_number: 801-555-4687
                        ssn: 555-32-6395
                        tax_id: 12 345 678 901
                        gender: MALE
                        ethnicity: BLACK_AFRICAN_AMERICAN
                        marital_status: MARRIED
                        employment_status: INACTIVE
                        employment_type: FULL_TIME
                        weekly_hours: 40
                        avatar: https://resources.bamboohr.com/images/photo_person_150x150.png
                        work_location_id: 7E2gyuv6TmvtByzBxW9Sxt53
                        legal_entity_id: xB32bied320csBSsl3XWdlw33
                        manager_id: 9pf2pxBB8VX8EQMC9aipW2Bo
                        home_address:
                          city: Berlin
                          country: DE
                          raw: 'Sonnenallee 63

                            12045 Berlin

                            Germany'
                          state: Berlin
                          street_1: Sonnenallee 63
                          street_2: null
                          zip_code: '12045'
                        bank_accounts:
                        - account_number: '1234567890'
                          bank_name: Commerzbank
                          bic: COBADEFFXXX
                          domestic_bank_routing:
                            number: '34567890'
                            type: DE_BANKLEITZAHL
                          holder_name: John Doe
                          iban: DE12345678901234567890
                        date_of_birth: '1986-01-01T00:00:00.000Z'
                        start_date: '2020-04-07T00:00:00.000Z'
                        termination_date: '2022-05-20T00:00:00.000Z'
                        remote_created_at: '2020-04-07T12:32:01.000Z'
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        custom_fields: {}
                        integration_fields: []
                        remote_data: null
                        employments:
                        - id: 12vpXR7BeqYNWDShXRgsonnm
                          remote_id: '859'
                          employee_id: 26vafvWSRmbhNcxJYqjCzuJg
                          job_title: Social Media Marketer
                          pay_rate: 85000
                          pay_period: YEAR
                          pay_frequency: SEMIMONTHLY
                          employment_type: FULL_TIME
                          pay_currency: EUR
                          effective_date: '2021-01-30T00:00:00.000Z'
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: null
                          remote_data: null
                          custom_fields: {}
                          integration_fields: []
                        time_off_balances:
                        - id: FuyRuk5NqP3qTcThED3ymTuE
                          remote_id: '124123'
                          employee_id: 2Up4ZCvq1bFVzmzXG6EWzV3j
                          type_id: BQJaBxRCiqN46G27VTegvkEr
                          balance: 14
                          balance_unit: DAYS
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: null
                          used: 3
                          used_unit: DAYS
                          remote_data: null
                        manager:
                          first_name: John
                          last_name: Doe
                          display_full_name: John Doe
                          id: 26vafvWSRmbhNcxJYqjCzuJg
                          employee_number: '3243422'
                          work_email: john.doe@acme.com
                          remote_id: '32'
                          employment_status: INACTIVE
                          termination_date: '2022-05-20T00:00:00.000Z'
                        groups:
                        - id: 4B9bKBpX5tnwjiG93TAqF7ci
                          remote_id: '49'
                          name: Customer Success
                          type: TEAM
                        legal_entity:
                          id: 4B9bKBpX5tnwjiG93TAqF7ci
                          remote_id: '49'
                          name: ACME Inc.
                          address:
                            city: Berlin
                            country: DE
                            raw: 'Sonnenallee 63

                              12045 Berlin, Berlin

                              Germany'
                            state: Berlin
                            street_1: Sonnenallee 63
                            street_2: null
                            zip_code: '12045'
                        teams:
                        - id: 4B9bKBpX5tnwjiG93TAqF7ci
                          remote_id: '49'
                          name: Customer Success
                          type: TEAM
                        work_location:
                          id: 22st2Ji8XpncEYEak8mvQgQF
                          remote_id: '1348'
                          name: Kombo HQ
                          address:
                            city: Berlin
                            country: DE
                            raw: 'Sonnenallee 63

                              12045 Berlin, Berlin

                              Germany'
                            state: Berlin
                            street_1: Sonnenallee 63
                            street_2: null
                            zip_code: '12045'
                          type: OFFICE
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: '2022-08-07T14:01:29.196Z'
                          remote_data: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
    post:
      operationId: PostHrisEmployees
      summary: '[DEPRECATED] Create employee'
      description: "Create a new employee.\n\n<Warning>\n  We are deprecating this endpoint in favor of the new [create employee form](/hris/features/create-employee) endpoint.\n</Warning>\n\n<Note>\n  This endpoint requires the permission **Create and manage employees** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"work_email\": \"john.doe@acme.com\",\n  \"gender\": \"MALE\",\n  \"date_of_birth\": \"1986-01-01\",\n  \"start_date\": \"2020-04-07\",\n  \"job_title\": \"Integrations Team Lead\",\n  \"home_address\": {\n    \"city\": \"Berlin\",\n    \"country\": \"DE\",\n    \"state\": \"Berlin\",\n    \"street_1\": \"Sonnenallee 63\",\n    \"zip_code\": \"12045\"\n  }\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      requestBody:
        description: POST /hris/employees Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisEmployeesRequestBody'
            examples:
              example1:
                value:
                  first_name: John
                  last_name: Doe
                  work_email: john.doe@acme.com
                  gender: MALE
                  date_of_birth: '1986-01-01'
                  start_date: '2020-04-07'
                  job_title: Integrations Team Lead
                  home_address:
                    city: Berlin
                    country: DE
                    state: Berlin
                    street_1: Sonnenallee 63
                    zip_code: '12045'
      responses:
        '200':
          description: POST /hris/employees Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisEmployeesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 26vafvWSRmbhNcxJYqjCzuJg
                      remote_id: '32'
                      employee_number: '3243422'
                      first_name: John
                      last_name: Doe
                      nationality: French
                      display_full_name: John Doe
                      job_title: Integrations Team Lead
                      work_email: john.doe@acme.com
                      personal_email: john@doe.me
                      mobile_phone_number: 801-555-4687
                      ssn: 555-32-6395
                      tax_id: 12 345 678 901
                      gender: MALE
                      ethnicity: BLACK_AFRICAN_AMERICAN
                      marital_status: MARRIED
                      employment_status: INACTIVE
                      employment_type: FULL_TIME
                      weekly_hours: 40
                      avatar: https://resources.bamboohr.com/images/photo_person_150x150.png
                      work_location_id: 7E2gyuv6TmvtByzBxW9Sxt53
                      legal_entity_id: xB32bied320csBSsl3XWdlw33
                      manager_id: 9pf2pxBB8VX8EQMC9aipW2Bo
                      home_address:
                        city: Berlin
                        country: DE
                        raw: 'Sonnenallee 63

                          12045 Berlin

                          Germany'
                        state: Berlin
                        street_1: Sonnenallee 63
                        street_2: null
                        zip_code: '12045'
                      bank_accounts:
                      - account_number: '1234567890'
                        bank_name: Commerzbank
                        bic: COBADEFFXXX
                        domestic_bank_routing:
                          number: '34567890'
                          type: DE_BANKLEITZAHL
                        holder_name: John Doe
                        iban: DE12345678901234567890
                      date_of_birth: '1986-01-01T00:00:00.000Z'
                      start_date: '2020-04-07T00:00:00.000Z'
                      termination_date: '2022-05-20T00:00:00.000Z'
                      remote_created_at: '2020-04-07T12:32:01.000Z'
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: null
                      custom_fields: {}
                      integration_fields: []
                      remote_data: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/employees/form:
    get:
      operationId: GetHrisEmployeesForm
      summary: Get employee form
      description: "Get the form for creating an employee. This form can be rendered dynamically on your frontend to allow your customers to create employees in their HRIS.\n\nFollow our [create employee guide here](/hris/features/create-employee) to learn how this form is generated and how you can use it.\n\n### Example Form\n```json\n{\n  \"properties\": {\n    \"firstName\": {\n      \"type\": \"text\",\n      \"label\": \"First Name\",\n      \"required\": true,\n      \"description\": \"Employee's first name\",\n      \"unified_key\": \"first_name\",\n      \"min_length\": 1,\n      \"max_length\": 100\n    },\n    \"startDate\": {\n      \"type\": \"date\",\n      \"label\": \"Start Date\",\n      \"required\": true,\n      \"description\": \"Employee's start date\",\n      \"unified_key\": \"start_date\"\n    },\n    \"workLocation\": {\n      \"type\": \"object\",\n      \"label\": \"Work Location\",\n      \"required\": false,\n      \"description\": \"Employee's work location\",\n      \"unified_key\": null,\n      \"properties\": {\n        \"site\": {\n          \"type\": \"single_select\",\n          \"label\": \"Site\",\n          \"required\": true,\n          \"description\": \"Employee's site\",\n          \"unified_key\": null,\n          \"options\": {\n            \"type\": \"inline\",\n            \"entries\": [\n              {\n                \"label\": \"Site 1\",\n                \"id\": \"FXrER44xubBqA9DLgZ3PFNNx\",\n                \"unified_value\": \"1\",\n                \"remote_id\": \"site_1\"\n              },\n              {\n                \"label\": \"Site 2\",\n                \"id\": \"2rv75UKT2XBoQXsUb9agiTUm\",\n                \"unified_value\": \"2\",\n                \"remote_id\": \"site_2\"\n              }\n            ]\n          }\n        },\n        \"keyNumbers\": {\n          \"type\": \"array\",\n          \"label\": \"Key Numbers\",\n          \"required\": false,\n          \"description\": \"Employee's key numbers\",\n          \"unified_key\": null,\n          \"min_items\": 2,\n          \"max_items\": 5,\n          \"item_type\": {\n            \"type\": \"number\",\n            \"label\": \"Key Number\",\n            \"required\": false,\n            \"description\": \"The number of the keys which belong to the employee\",\n            \"unified_key\": null,\n            \"min\": 0,\n            \"max\": 99\n          }\n        }\n      }\n    }\n  }\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      responses:
        '200':
          description: GET /hris/employees/form Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisEmployeesFormPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      properties:
                        firstName:
                          label: First Name
                          required: true
                          description: Employee's first name
                          unified_key: first_name
                          type: text
                          min_length: 1
                          max_length: 100
                          reg_exp: null
                        startDate:
                          label: Start Date
                          required: true
                          description: Employee's start date
                          unified_key: start_date
                          type: date
                        workLocation:
                          label: Work Location
                          required: false
                          description: Employee's work location
                          unified_key: null
                          type: object
                          properties:
                            site:
                              label: Site
                              required: true
                              description: Employee's site
                              unified_key: null
                              type: single_select
                              options:
                                type: inline
                                entries:
                                - id: FXrER44xubBqA9DLgZ3PFNNx
                                  label: Site 1
                                  unified_value: '1'
                                  remote_id: site_1
                                - id: 2rv75UKT2XBoQXsUb9agiTUm
                                  label: Site 2
                                  unified_value: '2'
                                  remote_id: site_2
                            keyNumbers:
                              label: Key Numbers
                              required: false
                              description: Employee's key numbers
                              unified_key: null
                              type: array
                              item_type:
                                label: Key Number
                                required: false
                                description: The number of the keys which belong to the employee
                                unified_key: null
                                type: number
                                min: 0
                                max: 99
                              min_items: 2
                              max_items: 5
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
    post:
      operationId: PostHrisEmployeesForm
      summary: Create employee with form
      description: "Create an employee, based on the form schema.\n\n<Note>\n  This endpoint requires the permission **Create and manage employees** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"properties\": {\n    \"firstName\": \"John\",\n    \"startDate\": \"2025-01-01\",\n    \"workLocation\": {\n      \"site\": \"8e422bf8cav\",\n      \"keyNumbers\": [\n        142,\n        525,\n        63\n      ]\n    }\n  }\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      requestBody:
        description: POST /hris/employees/form Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisEmployeesFormRequestBody'
            examples:
              example1:
                value:
                  properties:
                    firstName: John
                    startDate: '2025-01-01'
                    workLocation:
                      site: 8e422bf8cav
                      keyNumbers:
                      - 142
                      - 525
                      - 63
      responses:
        '200':
          description: POST /hris/employees/form Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisEmployeesFormPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 26vafvWSRmbhNcxJYqjCzuJg
                      remote_id: '12345'
                      prehire:
                        remote_id: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/employees/{employee_id}:
    patch:
      operationId: PatchHrisEmployeesEmployeeId
      summary: Update employee
      description: "Update an employee.\n\n<Note>\n  This endpoint requires the permission **Create and manage employees** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"employee_id\": \"BkgfzSr5muN9cUTMD4wDQFn4\",\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"work_email\": \"john.doe@acme.com\",\n  \"ssn\": \"555-32-6395\",\n  \"tax_id\": \"12 345 678 901\",\n  \"gender\": \"MALE\",\n  \"marital_status\": \"MARRIED\",\n  \"date_of_birth\": \"1986-01-01\",\n  \"start_date\": \"2020-04-07\",\n  \"termination_date\": \"2022-05-20\",\n  \"job_title\": \"Integrations Team Lead\",\n  \"nationality\": \"DE\",\n  \"home_address\": {\n    \"city\": \"Berlin\",\n    \"country\": \"DE\",\n    \"state\": \"Berlin\",\n    \"street_1\": \"Sonnenallee 63\",\n    \"zip_code\": \"12045\"\n  }\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: employee_id
        in: path
        required: true
        description: The ID of the employee that should be updated. You can use their Kombo `id` or their ID in the remote system by prefixing it with `remote:` (e.g., `remote:12312`)
        schema:
          $ref: '#/components/schemas/PatchHrisEmployeesEmployeeIdParameterEmployeeId'
        examples:
          example1:
            value: BkgfzSr5muN9cUTMD4wDQFn4
      requestBody:
        description: PATCH /hris/employees/:employee_id Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchHrisEmployeesEmployeeIdRequestBody'
            examples:
              example1:
                value:
                  first_name: John
                  last_name: Doe
                  work_email: john.doe@acme.com
                  ssn: 555-32-6395
                  tax_id: 12 345 678 901
                  gender: MALE
                  marital_status: MARRIED
                  date_of_birth: '1986-01-01'
                  start_date: '2020-04-07'
                  termination_date: '2022-05-20'
                  job_title: Integrations Team Lead
                  nationality: DE
                  home_address:
                    city: Berlin
                    country: DE
                    state: Berlin
                    street_1: Sonnenallee 63
                    zip_code: '12045'
      responses:
        '200':
          description: PATCH /hris/employees/:employee_id Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchHrisEmployeesEmployeeIdPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 26vafvWSRmbhNcxJYqjCzuJg
                      remote_id: '32'
                      employee_number: '3243422'
                      first_name: John
                      last_name: Doe
                      nationality: French
                      display_full_name: John Doe
                      job_title: Integrations Team Lead
                      work_email: john.doe@acme.com
                      personal_email: john@doe.me
                      mobile_phone_number: 801-555-4687
                      ssn: 555-32-6395
                      tax_id: 12 345 678 901
                      gender: MALE
                      ethnicity: BLACK_AFRICAN_AMERICAN
                      marital_status: MARRIED
                      employment_status: INACTIVE
                      employment_type: FULL_TIME
                      weekly_hours: 40
                      avatar: https://resources.bamboohr.com/images/photo_person_150x150.png
                      work_location_id: 7E2gyuv6TmvtByzBxW9Sxt53
                      legal_entity_id: xB32bied320csBSsl3XWdlw33
                      manager_id: 9pf2pxBB8VX8EQMC9aipW2Bo
                      home_address:
                        city: Berlin
                        country: DE
                        raw: 'Sonnenallee 63

                          12045 Berlin

                          Germany'
                        state: Berlin
                        street_1: Sonnenallee 63
                        street_2: null
                        zip_code: '12045'
                      bank_accounts:
                      - account_number: '1234567890'
                        bank_name: Commerzbank
                        bic: COBADEFFXXX
                        domestic_bank_routing:
                          number: '34567890'
                          type: DE_BANKLEITZAHL
                        holder_name: John Doe
                        iban: DE12345678901234567890
                      date_of_birth: '1986-01-01T00:00:00.000Z'
                      start_date: '2020-04-07T00:00:00.000Z'
                      termination_date: '2022-05-20T00:00:00.000Z'
                      remote_created_at: '2020-04-07T12:32:01.000Z'
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: null
                      remote_data: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/employees/{employee_id}/documents:
    post:
      operationId: PostHrisEmployeesEmployeeIdDocuments
      summary: Add document to employee
      description: "Uploads an document file for the specified employee.\n\n<Note>\n  This endpoint requires the permission **Manage documents** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"category_id\": \"3Cjwu7nA7pH5cX5X1NAPmb7M\",\n  \"document\": {\n    \"name\": \"Frank Doe Employment Contract.txt\",\n    \"data\": \"SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=\",\n    \"content_type\": \"text/plain\"\n  }\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: employee_id
        in: path
        required: true
        description: POST /hris/employees/:employee_id/documents Parameter
        schema:
          $ref: '#/components/schemas/PostHrisEmployeesEmployeeIdDocumentsParameterEmployeeId'
        examples:
          example1:
            value: GRKdd9dibYKKCrmGRSMJf3wu
      requestBody:
        description: POST /hris/employees/:employee_id/documents Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisEmployeesEmployeeIdDocumentsRequestBody'
            examples:
              example1:
                value:
                  category_id: 3Cjwu7nA7pH5cX5X1NAPmb7M
                  document:
                    name: Frank Doe Employment Contract.txt
                    data: SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=
                    content_type: text/plain
      responses:
        '200':
          description: POST /hris/employees/:employee_id/documents Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisEmployeesEmployeeIdDocumentsPositiveResponse'
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/employee-document-categories:
    get:
      operationId: GetHrisEmployeeDocumentCategories
      summary: Get employee document categories
      description: 'Get employee document categories.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesParameterRemoteIds'
      responses:
        '200':
          description: GET /hris/employee-document-categories Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisEmployeeDocumentCategoriesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        name: Employment contract
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/teams:
    get:
      operationId: GetHrisTeams
      summary: Get teams (deprecated)
      description: "Get the teams.\n\n<Warning>\n  **This endpoint is deprecated!**\n\n  Please use [the `/groups` endpoint](/hris/v1/get-groups) instead. It returns the same data but the naming makes more sense as the model not only includes teams but also departments and cost centers..\n</Warning>\n\nTop level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisTeamsParameterRemoteIds'
      responses:
        '200':
          description: GET /hris/teams Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisTeamsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 4B9bKBpX5tnwjiG93TAqF7ci
                        remote_id: '49'
                        name: Customer Success
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        type: TEAM
                        parent_id: KGaJ5XaVPob8mYVfD49W4DGB
                        remote_data: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/groups:
    get:
      operationId: GetHrisGroups
      summary: Get groups
      description: 'Retrieve all "groups" (teams, departments, and cost centers).


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterRemoteIds'
      - name: types
        in: query
        required: false
        description: "Filter by a comma-separated list of group types: `DEPARTMENT`, `TEAM`, `COST_CENTER`, or `null` to filter groups without a type. \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterTypes'
      - name: name_contains
        in: query
        required: false
        description: Filter by the `name` field. Can be used to find a group by keywords present in the group name.
        schema:
          $ref: '#/components/schemas/GetHrisGroupsParameterNameContains'
      responses:
        '200':
          description: GET /hris/groups Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisGroupsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 4B9bKBpX5tnwjiG93TAqF7ci
                        remote_id: '49'
                        name: Customer Success
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        type: TEAM
                        parent_id: KGaJ5XaVPob8mYVfD49W4DGB
                        remote_data: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/employments:
    get:
      operationId: GetHrisEmployments
      summary: Get employments
      description: 'Retrieve all employments.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisEmploymentsParameterRemoteIds'
      responses:
        '200':
          description: GET /hris/employments Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisEmploymentsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 12vpXR7BeqYNWDShXRgsonnm
                        remote_id: '859'
                        employee_id: 26vafvWSRmbhNcxJYqjCzuJg
                        job_title: Social Media Marketer
                        pay_rate: 85000
                        pay_period: YEAR
                        pay_frequency: SEMIMONTHLY
                        employment_type: FULL_TIME
                        pay_currency: EUR
                        effective_date: '2021-01-30T00:00:00.000Z'
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        remote_data: null
                        custom_fields: {}
                        integration_fields: []
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/locations:
    get:
      operationId: GetHrisLocations
      summary: Get work locations
      description: 'Retrieve all work locations.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterRemoteIds'
      - name: name_contains
        in: query
        required: false
        description: Filter by the `name` field. Can be used to find a location by keywords present in the location name.
        schema:
          $ref: '#/components/schemas/GetHrisLocationsParameterNameContains'
      responses:
        '200':
          description: GET /hris/locations Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisLocationsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 22st2Ji8XpncEYEak8mvQgQF
                        remote_id: '1348'
                        name: Kombo HQ
                        address:
                          city: Berlin
                          country: DE
                          raw: 'Sonnenallee 63

                            12045 Berlin, Berlin

                            Germany'
                          state: Berlin
                          street_1: Sonnenallee 63
                          street_2: null
                          zip_code: '12045'
                        type: OFFICE
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: '2022-08-07T14:01:29.196Z'
                        remote_data: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/absence-types:
    get:
      operationId: GetHrisAbsenceTypes
      summary: Get absence types
      description: 'Retrieve all absence types.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisAbsenceTypesParameterRemoteIds'
      responses:
        '200':
          description: GET /hris/absence-types Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisAbsenceTypesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: xzZoKssDaMZAd62kxayzzQvD
                        remote_id: '91'
                        name: Vacation
                        unit: DAYS
                        half_days_supported: true
                        exact_times_supported: false
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/time-off-balances:
    get:
      operationId: GetHrisTimeOffBalances
      summary: Get time off balances
      description: 'Retrieve all time off balances.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `type` | n/a | ✓ Yes |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterRemoteIds'
      - name: employee_id
        in: query
        required: false
        description: Filter by a specific employee using their ID.
        schema:
          $ref: '#/components/schemas/GetHrisTimeOffBalancesParameterEmployeeId'
      responses:
        '200':
          description: GET /hris/time-off-balances Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisTimeOffBalancesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: FuyRuk5NqP3qTcThED3ymTuE
                        remote_id: '124123'
                        employee_id: 2Up4ZCvq1bFVzmzXG6EWzV3j
                        type_id: BQJaBxRCiqN46G27VTegvkEr
                        balance: 14
                        balance_unit: DAYS
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        used: 3
                        used_unit: DAYS
                        remote_data: null
                        type:
                          id: xzZoKssDaMZAd62kxayzzQvD
                          remote_id: '91'
                          name: Vacation
                          unit: DAYS
                          half_days_supported: true
                          exact_times_supported: false
                          remote_data: null
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/absences:
    get:
      operationId: GetHrisAbsences
      summary: Get absences
      description: 'Retrieve all absences.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `type` | n/a | ✓ Yes |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterRemoteIds'
      - name: date_from
        in: query
        required: false
        description: Filter for all the absences that either start _or_ haven't ended yet on/after this day. If you imagine a calendar displaying absences, this defines the left-most visible day. This is a plain date (i.e., `yyyy-MM-dd`), all time information is discarded.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterDateFrom'
      - name: date_until
        in: query
        required: false
        description: Filter for absences that start on or before this day (but might continue after). If you imagine a calendar displaying absences, this defines the right-most visible day. This is a plain date (i.e., `yyyy-MM-dd`), all time information is discarded.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterDateUntil'
      - name: type_ids
        in: query
        required: false
        description: Filter by a comma-separated list of absence type IDs.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterTypeIds'
      - name: employee_id
        in: query
        required: false
        description: Filter by a specific employee using their ID.
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterEmployeeId'
      - name: time_from
        in: query
        required: false
        description: '**(⚠️ Deprecated - Use the `date_from` filter instead.)** Filter for absences that either start after or start before and end after a certain time.'
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterTimeFrom'
      - name: time_until
        in: query
        required: false
        description: '**(⚠️ Deprecated - Use the `date_until` filter instead.)** Filter for absences that start before a certain time.'
        schema:
          $ref: '#/components/schemas/GetHrisAbsencesParameterTimeUntil'
      responses:
        '200':
          description: GET /hris/absences Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisAbsencesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 22st2Ji8XpncEYEak8mvQgQF
                        remote_id: '1348'
                        employee_id: JDdUy9kiH5APaGizFrgNmQjM
                        approver_id: AgXEispYPP1BbToHpqnqcpxy
                        start_date: '2022-08-04'
                        end_date: '2022-08-05'
                        start_half_day: true
                        end_half_day: false
                        start_time: '13:15:00'
                        end_time: '17:00:00'
                        amount: 2
                        unit: DAYS
                        status: APPROVED
                        employee_note: Visiting my family.
                        type_id: xzZoKssDaMZAd62kxayzzQvD
                        remote_created_at: '2022-08-07T14:01:29.196Z'
                        remote_updated_at: '2022-08-07T14:01:29.196Z'
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: '2022-08-07T14:01:29.196Z'
                        remote_data: null
                        type:
                          id: xzZoKssDaMZAd62kxayzzQvD
                          remote_id: '91'
                          name: Vacation
                          unit: DAYS
                          half_days_supported: true
                          exact_times_supported: false
                          remote_data: null
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
    post:
      operationId: PostHrisAbsences
      summary: Create absence
      description: "Create a new absence.\n\nCheck [this page](/hris/features/creating-absences) for a detailed guide.\n\n<Note>\n  This endpoint requires the permission **Manage absences** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"employee_id\": \"wXJMxwDvPAjrJ4CyqdV9\",\n  \"absence_type_id\": \"3YKtQ7qedsrcCady1jSyAkY1\",\n  \"start_date\": \"2019-09-17\",\n  \"end_date\": \"2019-09-21\",\n  \"start_time\": \"08:30:00\",\n  \"end_time\": \"16:00:00\",\n  \"start_half_day\": false,\n  \"end_half_day\": false,\n  \"employee_note\": \"Visiting the aliens\"\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      requestBody:
        description: POST /hris/absences Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisAbsencesRequestBody'
            examples:
              example1:
                value:
                  employee_id: wXJMxwDvPAjrJ4CyqdV9
                  absence_type_id: 3YKtQ7qedsrcCady1jSyAkY1
                  start_date: '2019-09-17'
                  end_date: '2019-09-21'
                  start_time: 08:30:00
                  end_time: '16:00:00'
                  start_half_day: false
                  end_half_day: false
                  employee_note: Visiting the aliens
      responses:
        '200':
          description: POST /hris/absences Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisAbsencesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 22st2Ji8XpncEYEak8mvQgQF
                      remote_id: '1348'
                      employee_id: JDdUy9kiH5APaGizFrgNmQjM
                      approver_id: AgXEispYPP1BbToHpqnqcpxy
                      start_date: '2022-08-04'
                      end_date: '2022-08-05'
                      start_half_day: true
                      end_half_day: false
                      start_time: '13:15:00'
                      end_time: '17:00:00'
                      amount: 2
                      unit: DAYS
                      status: APPROVED
                      employee_note: Visiting my family.
                      type_id: xzZoKssDaMZAd62kxayzzQvD
                      remote_created_at: '2022-08-07T14:01:29.196Z'
                      remote_updated_at: '2022-08-07T14:01:29.196Z'
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: '2022-08-07T14:01:29.196Z'
                      remote_data: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/absences/{absence_id}:
    delete:
      operationId: DeleteHrisAbsencesAbsenceId
      summary: Delete absence
      description: "Delete this absence.\n\n<Note>\n  This endpoint requires the permission **Manage absences** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"absence_id\": \"wXJMxwDvPAjrJ4CyqdV9\"\n}\n```"
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: absence_id
        in: path
        required: true
        description: The Kombo ID of the absence
        schema:
          $ref: '#/components/schemas/DeleteHrisAbsencesAbsenceIdParameterAbsenceId'
        examples:
          example1:
            value: wXJMxwDvPAjrJ4CyqdV9
      requestBody:
        description: DELETE /hris/absences/:absence_id Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteHrisAbsencesAbsenceIdRequestBody'
            examples:
              example1:
                value: {}
      responses:
        '200':
          description: DELETE /hris/absences/:absence_id Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteHrisAbsencesAbsenceIdPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 22st2Ji8XpncEYEak8mvQgQF
                      remote_id: '1348'
                      employee_id: JDdUy9kiH5APaGizFrgNmQjM
                      approver_id: AgXEispYPP1BbToHpqnqcpxy
                      start_date: '2022-08-04'
                      end_date: '2022-08-05'
                      start_half_day: true
                      end_half_day: false
                      start_time: '13:15:00'
                      end_time: '17:00:00'
                      amount: 2
                      unit: DAYS
                      status: APPROVED
                      employee_note: Visiting my family.
                      type_id: xzZoKssDaMZAd62kxayzzQvD
                      remote_created_at: '2022-08-07T14:01:29.196Z'
                      remote_updated_at: '2022-08-07T14:01:29.196Z'
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: '2022-08-07T14:01:29.196Z'
                      remote_data: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/legal-entities:
    get:
      operationId: GetHrisLegalEntities
      summary: Get legal entities
      description: 'Retrieve all legal entites.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterRemoteIds'
      - name: name_contains
        in: query
        required: false
        description: Filter by the `name` field. Can be used to find a legal entity by keywords present in the legal entity name.
        schema:
          $ref: '#/components/schemas/GetHrisLegalEntitiesParameterNameContains'
      responses:
        '200':
          description: GET /hris/legal-entities Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisLegalEntitiesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 4B9bKBpX5tnwjiG93TAqF7ci
                        remote_id: '49'
                        name: ACME Inc.
                        address:
                          city: Berlin
                          country: DE
                          raw: 'Sonnenallee 63

                            12045 Berlin, Berlin

                            Germany'
                          state: Berlin
                          street_1: Sonnenallee 63
                          street_2: null
                          zip_code: '12045'
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        remote_data: null
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/timesheets:
    get:
      operationId: GetHrisTimesheets
      summary: Get timesheets
      description: 'Get timesheets


        Retrieve attendance data and timesheets from HRIS tools.


        <Warning>**Open Beta Feature:** This endpoint is currently in beta. Please reach out to our support team if you need assistance with implementation.</Warning>


        For a detailed explanation of the data model, validation rules, time zones, payable hours, approvals, and break patterns, see the [Time & Attendance guide](/hris/features/time-and-attendance).


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterRemoteIds'
      - name: employee_id
        in: query
        required: false
        description: Returns timesheets for a specific employee.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterEmployeeId'
      - name: started_before
        in: query
        required: false
        description: Return timesheets whose start time is before the given timestamp.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterStartedBefore'
      - name: started_after
        in: query
        required: false
        description: Return timesheets whose start time is on or after the given timestamp.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterStartedAfter'
      - name: ended_before
        in: query
        required: false
        description: Return timesheets whose end time is on or before the given timestamp.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterEndedBefore'
      - name: ended_after
        in: query
        required: false
        description: Return timesheets whose end time is on or after the given timestamp.
        schema:
          $ref: '#/components/schemas/GetHrisTimesheetsParameterEndedAfter'
      responses:
        '200':
          description: GET /hris/timesheets Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisTimesheetsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: C1BB1C36-FE1D-4185-AAB8-0716D8FBA017
                        remote_id: '446655440000'
                        employee_id: 289AD550-8659-4305-92B2-6EAA006AAB17
                        started_at: '2025-04-16T09:02:00.000Z'
                        ended_at: '2025-04-16T16:59:00.000Z'
                        timezone: -04:00
                        payable_hours: 8
                        unpaid_break_minutes: 30
                        breaks:
                        - ended_at: '2025-04-16T12:30:00.000Z'
                          paid: false
                          started_at: '2025-04-16T12:00:00.000Z'
                        approval_status: APPROVED
                        approved_at: '2025-04-16T17:05:31.000Z'
                        comment: Sprint planning & code review
                        custom_fields: {}
                        integration_fields: []
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        remote_data: {}
        default:
          $ref: '#/components/responses/ErrorResponseHRIS'
  /hris/performance-review-cycles:
    get:
      operationId: GetHrisPerformanceReviewCycles
      summary: Get performance review cycles
      description: 'Get performance review cycles


        Retrieve performance review cycles data from HRIS tools.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified HRIS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetHrisPerformanceReviewCyclesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetHrisPerformanceReviewCyclesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
[...]
