openapi: 3.2.0
info:
  title: Kombo Unified ATS API
  version: 1.0.0
  description: Unified endpoints to access all the ATS concepts you might need.
servers:
- url: https://api.kombo.dev/v1
  description: Kombo EU API
- url: https://api.us.kombo.dev/v1
  description: Kombo US API
security:
- ApiKey: []
tags:
- name: Unified ATS API
  description: Unified endpoints to access all the ATS concepts you might need.
paths:
  /ats/applications:
    get:
      operationId: GetAtsApplications
      summary: Get applications
      description: 'Retrieve all applications.


        Visit our in-depth guides to learn more about:


        - 💡 [Being aware of which applications are tracked](/ats/features/implementation-guide/tracking-created-applications#be-aware-of-which-applications-are-tracked)

        - 🚦 [Hiring signals](/ats/features/implementation-guide/tracking-created-applications#hiring-signals)

        - 📈 [Application stage changes](/ats/features/implementation-guide/tracking-created-applications#application-stage-changes)

        - ❓ [ATS-specific limitations](/ats/features/implementation-guide/tracking-created-applications#ats-specific-limitations)


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `candidate` | n/a | ✓ Yes |

          | `candidate` → `tags` | ✗ No | ✗ No |

          | `current_stage` | n/a | ✓ Yes |

          | `job` | ✗ No | ✗ No |

          | `interviews` | ✓ Yes | ✓ Yes |

          | `offers` | ✓ Yes | ✓ Yes |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterRemoteIds'
      - name: outcome
        in: query
        required: false
        description: '**(⚠️ Deprecated - Use the `outcomes` filter instead.)** Filter applications by outcome. This allows you to get applications that are for example `PENDING`, `HIRED`, or `DECLINED`.'
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterOutcome'
      - name: outcomes
        in: query
        required: false
        description: "Filter by a comma-separated list of `PENDING`, `HIRED`, `DECLINED` \n* `PENDING`: The application is still being processed. \n* `HIRED`: The candidate was hired. \n* `DECLINED`: The candidate was declined. \n \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterOutcomes'
      - name: job_ids
        in: query
        required: false
        description: Filter by a comma-separated list of job IDs. We will only return applications that are related to _any_ of the jobs.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterJobIds'
      - name: job_remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of job remote IDs. We will only return applications that are related to _any_ of the jobs.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterJobRemoteIds'
      - name: current_stage_ids
        in: query
        required: false
        description: Filter by a comma-separated list of application stage IDs. We will only return applications that are currently in _any_ of the stages.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterCurrentStageIds'
      - name: remote_created_after
        in: query
        required: false
        description: Filter applications by the day they were created in the remote system. This allows you to get applications that were created on or after a certain day.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsParameterRemoteCreatedAfter'
      responses:
        '200':
          description: GET /ats/applications Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsApplicationsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: H77fDF8uvEzGNPRubiz5DvQ7
                        remote_id: '32'
                        outcome: HIRED
                        rejection_reason_name: null
                        rejected_at: null
                        current_stage_id: 5J7L4b48wBfffYwek9Az9pkM
                        job_id: H5daSm8e85Dmvmne3wLeCPhX
                        candidate_id: 26vafvWSRmbhNcxJYqjCzuJg
                        screening_question_answers:
                        - answer:
                            choice: TypeScript
                          question:
                            remote_id: 48b4d36a-1d4b-4c50-ada7-9519078e65b4
                            title: Which is your primary programming language
                            type: SINGLE_SELECT
                        custom_fields: {}
                        integration_fields: []
                        remote_url: https://app.greenhouse.io/applications/32
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        remote_created_at: '2022-08-07T14:01:29.196Z'
                        remote_updated_at: '2022-08-07T14:01:29.196Z'
                        remote_data: null
                        candidate:
                          id: 26vafvWSRmbhNcxJYqjCzuJg
                          remote_id: '32'
                          first_name: John
                          last_name: Doe
                          email_addresses:
                          - email_address: john.doe@example.com
                            type: PRIVATE
                          phone_numbers:
                          - phone_number: +1-541-754-3010
                            type: HOME
                          social_media:
                          - link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
                            type: YOUTUBE
                            username: null
                          source: Employee Referral
                          remote_url: https://app.greenhouse.io/people/32
                          tags:
                          - id: 26vafvWSRmbhNcxJYqjCzuJg
                            remote_id: '32'
                            name: High Potential
                        current_stage:
                          id: 5J7L4b48wBfffYwek9Az9pkM
                          remote_id: '32'
                          name: Initial Screening
                          index: 2
                        job:
                          id: H5daSm8e85Dmvmne3wLeCPhX
                          remote_id: '32'
                          name: Backend Engineer
                        interviews:
                        - id: 26vafvWSRmbhNcxJYqjCzuJg
                          remote_id: '32'
                          title: Interview with John Doe
                          starting_at: '2023-06-26T14:30:00.000Z'
                          ending_at: '2023-06-26T15:30:00.000Z'
                          location:
                            city: Berlin
                            country: DE
                            raw: Berlin, Germany
                            state: Berlin
                            street_1: Lohmühlenstraße 65
                            street_2: null
                            zip_code: '12435'
                          canceled: false
                        offers:
                        - id: 76bab8LKuFtqpZ89mofCPMHX
                          remote_id: '6'
                          status: ACCEPTED
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/applications/{application_id}/stage:
    put:
      operationId: PutAtsApplicationsApplicationIdStage
      summary: Move application to stage
      description: "Moves an application to a specified stage. Use job-specific stages from GET /jobs, not the deprecated /application-stages endpoint.\n\n<Note>\n  This endpoint requires the permission **Set application stage** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"stage_id\": \"3PJ8PZhZZa1eEdd2DtPNtVup\",\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The Kombo ID of the application you want to move to a different stage.
        schema:
          $ref: '#/components/schemas/PutAtsApplicationsApplicationIdStageParameterApplicationId'
        examples:
          example1:
            value: GRKdd9dibYKKCrmGRSMJf3wu
      requestBody:
        description: PUT /ats/applications/:application_id/stage Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutAtsApplicationsApplicationIdStageRequestBody'
            examples:
              example1:
                value:
                  stage_id: 3PJ8PZhZZa1eEdd2DtPNtVup
      responses:
        '200':
          description: PUT /ats/applications/:application_id/stage Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutAtsApplicationsApplicationIdStagePositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/applications/{application_id}/result-links:
    post:
      operationId: PostAtsApplicationsApplicationIdResultLinks
      summary: Add result link to application
      description: "Add a result link to an application.\n\nThis can, for example, be used to link a candidate back to a test result/assessment in your application. As not all ATS tools have a \"result link\" feature, we sometimes repurpose other fields to expose it.\n\n<Note>\n  This endpoint requires the permission **Add result links** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"application_id\": \"8Xi6iZrwusZqJmDGXs49GBmJ\",\n  \"label\": \"Assessment Result\",\n  \"url\": \"https://example.com/test-results/5BtP1WC1UboS7CF3yxjKcvjG\",\n  \"details\": {\n    \"custom_field_name_prefix\": \"Acme:\",\n    \"attributes\": [\n      {\n        \"key\": \"Score\",\n        \"value\": \"100%\"\n      },\n      {\n        \"key\": \"Time\",\n        \"value\": \"2:30h\"\n      }\n    ]\n  },\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The Kombo ID of the application you want to create the link for.
        schema:
          $ref: '#/components/schemas/PostAtsApplicationsApplicationIdResultLinksParameterApplicationId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      requestBody:
        description: POST /ats/applications/:application_id/result-links Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsApplicationsApplicationIdResultLinksRequestBody'
            examples:
              example1:
                value:
                  label: Assessment Result
                  url: https://example.com/test-results/5BtP1WC1UboS7CF3yxjKcvjG
                  details:
                    custom_field_name_prefix: 'Acme:'
                    attributes:
                    - key: Score
                      value: 100%
                    - key: Time
                      value: 2:30h
      responses:
        '200':
          description: POST /ats/applications/:application_id/result-links Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsApplicationsApplicationIdResultLinksPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/applications/{application_id}/notes:
    post:
      operationId: PostAtsApplicationsApplicationIdNotes
      summary: Add note to application
      description: "Add a note to an application.\n\nAdd extra information to an application. This can be any extra text information you want to add to an application.\n\n<Note>\n  This endpoint requires the permission **Add notes** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"content\": \"A new message from the candidate is available in YourChat!\",\n  \"content_type\": \"PLAIN_TEXT\",\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The Kombo ID of the application you want to create the note for.
        schema:
          $ref: '#/components/schemas/PostAtsApplicationsApplicationIdNotesParameterApplicationId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      requestBody:
        description: POST /ats/applications/:application_id/notes Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsApplicationsApplicationIdNotesRequestBody'
            examples:
              example1:
                value:
                  content: A new message from the candidate is available in YourChat!
                  content_type: PLAIN_TEXT
      responses:
        '200':
          description: POST /ats/applications/:application_id/notes Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsApplicationsApplicationIdNotesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/applications/{application_id}/attachments:
    get:
      operationId: GetAtsApplicationsApplicationIdAttachments
      summary: Get application attachments
      description: "Get attachments from a candidate or application.\n\nGet attachments from an application. If the ATS stores the attachments on the candidate, it will get the attachments from the corresponding candidate instead.\n\n<Note>\n  This endpoint requires the permission **Read document attachments** to be enabled in [your scope config](/scopes).\n</Note>"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The Kombo ID of the application you want to obtain attachments for.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationsApplicationIdAttachmentsParameterApplicationId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      responses:
        '200':
          description: GET /ats/applications/:application_id/attachments Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsApplicationsApplicationIdAttachmentsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      results:
                      - type: CV
                        id: EYJjhMQT3LtVKXnTbnRT8s6U
                        remote_id: GUzE666zfyjeoCJX6A8n7wh6
                        data_url: https://resources.kombo.dev/7yZfKGzWigXxxRTygqAfHvyE
                        file_name: Frank Doe CV.pdf
                        content_type: application/x-pdf
                        remote_created_at: null
                        remote_updated_at: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
    post:
      operationId: PostAtsApplicationsApplicationIdAttachments
      summary: Add attachment to application
      description: "Uploads an attachment file for the specified applicant.\n\n<Warning>\n  If adding an attachment to an application is not supported by the integration, the attachment will be [added to the candidate](/ats/v1/post-candidates-candidate-id-attachments) instead. \n</Warning>\n\n<Note>\n  This endpoint requires the permission **Add attachments** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"application_id\": \"GRKdd9dibYKKCrmGRSMJf3wu\",\n  \"attachment\": {\n    \"name\": \"Frank Doe CV.txt\",\n    \"data\": \"SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=\",\n    \"type\": \"CV\",\n    \"content_type\": \"text/plain\"\n  },\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: POST /ats/applications/:application_id/attachments Parameter
        schema:
          $ref: '#/components/schemas/PostAtsApplicationsApplicationIdAttachmentsParameterApplicationId'
        examples:
          example1:
            value: GRKdd9dibYKKCrmGRSMJf3wu
      requestBody:
        description: POST /ats/applications/:application_id/attachments Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsApplicationsApplicationIdAttachmentsRequestBody'
            examples:
              example1:
                value:
                  attachment:
                    name: Frank Doe CV.txt
                    data: SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=
                    type: CV
                    content_type: text/plain
      responses:
        '200':
          description: POST /ats/applications/:application_id/attachments Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsApplicationsApplicationIdAttachmentsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/applications/{application_id}/reject:
    post:
      operationId: PostAtsApplicationsApplicationIdReject
      summary: Reject application
      description: "Rejects an application with a provided reason.\n\nRejects an application with a provided reason. Optionally, you can provide a free text note. You can get the list of rejection reasons with our [Get rejection reasons endpoint](/ats/v1/get-rejection-reasons).\n\n<Note>\n  This endpoint requires the permission **Reject applications** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"rejection_reason_id\": \"3PJ8PZhZZa1eEdd2DtPNtVup\",\n  \"note\": \"Candidate was a great culture fit but didn't bring the hard skills we need.\",\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The Kombo ID of the application you want to reject.
        schema:
          $ref: '#/components/schemas/PostAtsApplicationsApplicationIdRejectParameterApplicationId'
        examples:
          example1:
            value: GRKdd9dibYKKCrmGRSMJf3wu
      requestBody:
        description: POST /ats/applications/:application_id/reject Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsApplicationsApplicationIdRejectRequestBody'
            examples:
              example1:
                value:
                  rejection_reason_id: 3PJ8PZhZZa1eEdd2DtPNtVup
                  note: Candidate was a great culture fit but didn't bring the hard skills we need.
      responses:
        '200':
          description: POST /ats/applications/:application_id/reject Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsApplicationsApplicationIdRejectPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/applications/{application_id}/interviews:
    post:
      operationId: PostAtsApplicationsApplicationIdInterviews
      summary: Create interview
      description: 'Create interview




        <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We''re testing it with selected customers before its public release. If you''re interested in learning more or getting early access, please reach out.</Warning>


        '
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The ID of the application
        schema:
          $ref: '#/components/schemas/PostAtsApplicationsApplicationIdInterviewsParameterApplicationId'
      requestBody:
        description: POST /ats/applications/:application_id/interviews Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsApplicationsApplicationIdInterviewsRequestBody'
      responses:
        '200':
          description: POST /ats/applications/:application_id/interviews Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsApplicationsApplicationIdInterviewsPositiveResponse'
        default:
          $ref: '#/components/responses/ErrorResponseATS'
    patch:
      operationId: PatchAtsApplicationsApplicationIdInterviews
      summary: Update interview
      description: 'Update interview




        <Warning>**Closed Beta Feature:** This endpoint is currently in closed beta. We''re testing it with selected customers before its public release. If you''re interested in learning more or getting early access, please reach out.</Warning>


        '
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: application_id
        in: path
        required: true
        description: The ID of the application
        schema:
          $ref: '#/components/schemas/PatchAtsApplicationsApplicationIdInterviewsParameterApplicationId'
      requestBody:
        description: PATCH /ats/applications/:application_id/interviews Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAtsApplicationsApplicationIdInterviewsRequestBody'
      responses:
        '200':
          description: PATCH /ats/applications/:application_id/interviews Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAtsApplicationsApplicationIdInterviewsPositiveResponse'
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/candidates:
    get:
      operationId: GetAtsCandidates
      summary: Get candidates
      description: 'Retrieve all candidates.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `applications` | ✓ Yes | ✓ Yes |

          | `applications` → `current_stage` | ✗ No | ✗ No |

          | `applications` → `job` | ✗ No | ✗ No |

          | `tags` | ✓ Yes | ✗ No |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterRemoteIds'
      - name: email
        in: query
        required: false
        description: Filter the candidates based on an email address. When set, returns only the candidates where the given `email` is in `email_addresses`. This filter is case-insensitive.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterEmail'
      - name: job_ids
        in: query
        required: false
        description: Filter by a comma-separated list of job IDs. We will only return candidates that have applied to _any_ of the jobs.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterJobIds'
      - name: first_name
        in: query
        required: false
        description: Filter candidates by first name. This filter is case-insensitive and matches the exact first name. Fuzzy matching might be enabled in the future, so consider this for your implementation.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterFirstName'
      - name: last_name
        in: query
        required: false
        description: Filter candidates by last name. This filter is case-insensitive and matches the exact last name. Fuzzy matching might be enabled in the future, so consider this for your implementation.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesParameterLastName'
      responses:
        '200':
          description: GET /ats/candidates Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsCandidatesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        first_name: John
                        last_name: Doe
                        company: Acme, Inc.
                        title: Head of Marketing
                        confidential: false
                        source: Employee Referral
                        phone_numbers:
                        - phone_number: +1-541-754-3010
                          type: HOME
                        email_addresses:
                        - email_address: john.doe@example.com
                          type: PRIVATE
                        social_media:
                        - link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
                          type: YOUTUBE
                          username: null
                        location:
                          city: Berlin
                          country: DE
                          raw: Berlin, Germany
                          state: Berlin
                          street_1: Lohmühlenstraße 65
                          street_2: null
                          zip_code: '12435'
                        custom_fields: {}
                        integration_fields: []
                        remote_url: https://app.greenhouse.io/people/32
                        remote_created_at: '2022-04-02T00:00:00.000Z'
                        remote_updated_at: '2022-04-04T00:00:00.000Z'
                        remote_data: null
                        changed_at: '2022-04-04T00:00:00.000Z'
                        remote_deleted_at: null
                        applications:
                        - id: H77fDF8uvEzGNPRubiz5DvQ7
                          remote_id: '32'
                          outcome: HIRED
                          rejection_reason_name: null
                          rejected_at: null
                          remote_url: https://app.greenhouse.io/applications/32
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_created_at: '2022-08-07T14:01:29.196Z'
                          remote_updated_at: '2022-08-07T14:01:29.196Z'
                          current_stage:
                            id: 5J7L4b48wBfffYwek9Az9pkM
                            name: Initial Screening
                            remote_id: '32'
                            index: 2
                          job:
                            id: H5daSm8e85Dmvmne3wLeCPhX
                            name: Backend Engineer
                            remote_id: '32'
                        tags:
                        - id: 26vafvWSRmbhNcxJYqjCzuJg
                          name: High Potential
                          remote_id: '32'
        default:
          $ref: '#/components/responses/ErrorResponseATS'
    post:
      operationId: PostAtsCandidates
      summary: Create candidate
      description: "Create a new candidate and application for the specified job.\n\n<Warning>\n      **We recommend using the [Create application](/ats/v1/post-jobs-job-id-applications) endpoint instead.**\n\n      We realized that in practice it was always more about creating _applications_ instead of _candidates_, so we created a new, more aptly named one that you should use instead: [Create application](/ats/v1/post-jobs-job-id-applications)\n\n      Using it also has the benefit that we return the newly created applicant at the root level, so you can easily store its ID.\n    </Warning>\n\n<Note>\n  This endpoint requires the permission **Create applications and candidates** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"candidate\": {\n    \"first_name\": \"Frank\",\n    \"last_name\": \"Doe\",\n    \"company\": \"Acme Inc.\",\n    \"title\": \"Head of Integrations\",\n    \"email_address\": \"frank.doe@example.com\",\n    \"phone_number\": \"+1-541-754-3010\",\n    \"gender\": \"MALE\",\n    \"salary_expectations\": {\n      \"amount\": 100000,\n      \"period\": \"YEAR\"\n    },\n    \"availability_date\": \"2021-01-01\",\n    \"location\": {\n      \"city\": \"New York\",\n      \"country\": \"US\",\n      \"state\": \"NY\"\n    },\n    \"social_links\": [\n      {\n        \"url\": \"https://www.linkedin.com/in/frank-doe-123456789/\"\n      },\n      {\n        \"url\": \"https://twitter.com/frankdoe\"\n      }\n    ]\n  },\n  \"application\": {\n    \"job_id\": \"BDpgnpZ148nrGh4mYHNxJBgx\",\n    \"stage_id\": \"8x3YKRDcuRnwShdh96ShBNn1\"\n  },\n  \"attachments\": [\n    {\n      \"name\": \"Frank Doe CV.txt\",\n      \"data\": \"SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=\",\n      \"type\": \"CV\",\n      \"content_type\": \"text/plain\"\n    }\n  ],\n  \"screening_question_answers\": [\n    {\n      \"question_id\": \"3phFBNXRweGnDmsU9o2vdPuQ\",\n      \"answer\": \"Yes\"\n    },\n    {\n      \"question_id\": \"EYJjhMQT3LtVKXnTbnRT8s6U\",\n      \"answer\": [\n        \"GUzE666zfyjeoCJX6A8n7wh6\",\n        \"5WPHzzKAv8cx97KtHRUV96U8\",\n        \"7yZfKGzWigXxxRTygqAfHvyE\"\n      ]\n    }\n  ],\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      requestBody:
        description: POST /ats/candidates Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsCandidatesRequestBody'
            examples:
              example1:
                value:
                  candidate:
                    first_name: Frank
                    last_name: Doe
                    company: Acme Inc.
                    title: Head of Integrations
                    email_address: frank.doe@example.com
                    phone_number: +1-541-754-3010
                    gender: MALE
                    salary_expectations:
                      amount: 100000
                      period: YEAR
                    availability_date: '2021-01-01'
                    location:
                      city: New York
                      country: US
                      state: NY
                    social_links:
                    - url: https://www.linkedin.com/in/frank-doe-123456789/
                    - url: https://twitter.com/frankdoe
                  application:
                    job_id: BDpgnpZ148nrGh4mYHNxJBgx
                    stage_id: 8x3YKRDcuRnwShdh96ShBNn1
                  attachments:
                  - name: Frank Doe CV.txt
                    data: SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=
                    type: CV
                    content_type: text/plain
                  screening_question_answers:
                  - question_id: 3phFBNXRweGnDmsU9o2vdPuQ
                    answer: 'Yes'
                  - question_id: EYJjhMQT3LtVKXnTbnRT8s6U
                    answer:
                    - GUzE666zfyjeoCJX6A8n7wh6
                    - 5WPHzzKAv8cx97KtHRUV96U8
                    - 7yZfKGzWigXxxRTygqAfHvyE
      responses:
        '200':
          description: POST /ats/candidates Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsCandidatesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 26vafvWSRmbhNcxJYqjCzuJg
                      remote_id: '32'
                      first_name: John
                      last_name: Doe
                      company: Acme, Inc.
                      title: Head of Marketing
                      confidential: false
                      source: Employee Referral
                      phone_numbers:
                      - phone_number: +1-541-754-3010
                        type: HOME
                      email_addresses:
                      - email_address: john.doe@example.com
                        type: PRIVATE
                      social_media:
                      - link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
                        type: YOUTUBE
                        username: null
                      location:
                        city: Berlin
                        country: DE
                        raw: Berlin, Germany
                        state: Berlin
                        street_1: Lohmühlenstraße 65
                        street_2: null
                        zip_code: '12435'
                      custom_fields: {}
                      integration_fields: []
                      remote_url: https://app.greenhouse.io/people/32
                      remote_created_at: '2022-04-02T00:00:00.000Z'
                      remote_updated_at: '2022-04-04T00:00:00.000Z'
                      remote_data: null
                      changed_at: '2022-04-04T00:00:00.000Z'
                      remote_deleted_at: null
                      applications:
                      - id: H77fDF8uvEzGNPRubiz5DvQ7
                        remote_id: '32'
                        outcome: HIRED
                        rejection_reason_name: null
                        rejected_at: null
                        remote_url: https://app.greenhouse.io/applications/32
                        changed_at: '2022-04-04T00:00:00.000Z'
                        remote_created_at: '2022-04-02T00:00:00.000Z'
                        remote_updated_at: '2022-04-04T00:00:00.000Z'
                        current_stage:
                          id: 5J7L4b48wBfffYwek9Az9pkM
                          name: Initial Screening
                          remote_id: '32'
                          index: 2
                        job:
                          id: H5daSm8e85Dmvmne3wLeCPhX
                          name: Backend Engineer
                          remote_id: '32'
                      tags:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        name: High Potential
                        remote_id: '32'
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/candidates/{candidate_id}/attachments:
    get:
      operationId: GetAtsCandidatesCandidateIdAttachments
      summary: Get candidate attachments
      description: "Get attachments from a candidate, including all attachments of all of their applications.\n\n<Note>\n  This endpoint requires the permission **Read document attachments** to be enabled in [your scope config](/scopes).\n</Note>"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: candidate_id
        in: path
        required: true
        description: The Kombo ID of the candidate you want to obtain attachments for.
        schema:
          $ref: '#/components/schemas/GetAtsCandidatesCandidateIdAttachmentsParameterCandidateId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      responses:
        '200':
          description: GET /ats/candidates/:candidate_id/attachments Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsCandidatesCandidateIdAttachmentsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      results:
                      - id: EYJjhMQT3LtVKXnTbnRT8s6U
                        application_id: null
                        candidate_id: BTbkvY2w5ou3z3hdwuKcKzDh
                        type: CV
                        remote_id: GUzE666zfyjeoCJX6A8n7wh6
                        data_url: https://resources.kombo.dev/EYJjhMQT3LtVKXnTbnRT8s6U
                        file_name: Frank Doe CV.pdf
                        content_type: application/pdf
                        remote_created_at: null
                        remote_updated_at: null
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
    post:
      operationId: PostAtsCandidatesCandidateIdAttachments
      summary: Add attachment to candidate
      description: "Uploads an attachment file for the specified candidate.\n\n<Warning>\n  **We recommend using the [add attachment to application](/ats/v1/post-applications-application-id-attachments) endpoint instead.**\n\n  We realized that in practice it was always more about adding attachments to _applications_ instead of _candidates_, so we created a new, more aptly named one that you should use instead: [add attachment to application](/ats/v1/post-applications-application-id-attachments)\n  </Warning>\n\n<Note>\n  This endpoint requires the permission **Add attachments** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"candidate_id\": \"GRKdd9dibYKKCrmGRSMJf3wu\",\n  \"attachment\": {\n    \"name\": \"Frank Doe CV.txt\",\n    \"data\": \"SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=\",\n    \"type\": \"CV\",\n    \"content_type\": \"text/plain\"\n  }\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: candidate_id
        in: path
        required: true
        description: The Kombo ID of the candidate you want to add the attachment to.
        schema:
          $ref: '#/components/schemas/PostAtsCandidatesCandidateIdAttachmentsParameterCandidateId'
        examples:
          example1:
            value: GRKdd9dibYKKCrmGRSMJf3wu
      requestBody:
        description: POST /ats/candidates/:candidate_id/attachments Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsCandidatesCandidateIdAttachmentsRequestBody'
            examples:
              example1:
                value:
                  attachment:
                    name: Frank Doe CV.txt
                    data: SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=
                    type: CV
                    content_type: text/plain
      responses:
        '200':
          description: POST /ats/candidates/:candidate_id/attachments Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsCandidatesCandidateIdAttachmentsPositiveResponse'
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/candidates/{candidate_id}/result-links:
    post:
      operationId: PostAtsCandidatesCandidateIdResultLinks
      summary: Add result link to candidate
      description: "Add a result link to a candidate.\n\n<Warning>\n  **We recommend to use [add result link to application](/ats/v1/post-applications-application-id-result-links) instead.**\n\n  This can, for example, be used to link a candidate back to a test result/assessment in your application. As not all ATS tools have a \"result link\" feature, we sometimes repurpose other fields to expose it.\n\n  </Warning>\n  \n\n<Note>\n  This endpoint requires the permission **Add result links** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"label\": \"Assessment Result\",\n  \"url\": \"https://example.com/test-results/5BtP1WC1UboS7CF3yxjKcvjG\",\n  \"details\": {\n    \"custom_field_name_prefix\": \"Acme:\",\n    \"attributes\": [\n      {\n        \"key\": \"Score\",\n        \"value\": \"100%\"\n      },\n      {\n        \"key\": \"Time\",\n        \"value\": \"2:30h\"\n      }\n    ]\n  },\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: candidate_id
        in: path
        required: true
        description: The Kombo ID of the candidate you want to add the result link to.
        schema:
          $ref: '#/components/schemas/PostAtsCandidatesCandidateIdResultLinksParameterCandidateId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      requestBody:
        description: POST /ats/candidates/:candidate_id/result-links Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsCandidatesCandidateIdResultLinksRequestBody'
            examples:
              example1:
                value:
                  label: Assessment Result
                  url: https://example.com/test-results/5BtP1WC1UboS7CF3yxjKcvjG
                  details:
                    custom_field_name_prefix: 'Acme:'
                    attributes:
                    - key: Score
                      value: 100%
                    - key: Time
                      value: 2:30h
      responses:
        '200':
          description: POST /ats/candidates/:candidate_id/result-links Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsCandidatesCandidateIdResultLinksPositiveResponse'
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/candidates/{candidate_id}/tags:
    post:
      operationId: PostAtsCandidatesCandidateIdTags
      summary: Add tag to candidate
      description: "Add a tag to a candidate.\n\nKombo takes care of creating the tag if required, finding out the right ID, and appending it to the list of tags.\n\n<Note>\n  This endpoint requires the permission **Manage tags** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"tag\": {\n    \"name\": \"Excellent Fit\"\n  }\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: candidate_id
        in: path
        required: true
        description: The Kombo ID of the candidate you want to add the tag to.
        schema:
          $ref: '#/components/schemas/PostAtsCandidatesCandidateIdTagsParameterCandidateId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      requestBody:
        description: POST /ats/candidates/:candidate_id/tags Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsCandidatesCandidateIdTagsRequestBody'
            examples:
              example1:
                value:
                  tag:
                    name: Excellent Fit
      responses:
        '200':
          description: POST /ats/candidates/:candidate_id/tags Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsCandidatesCandidateIdTagsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
    delete:
      operationId: DeleteAtsCandidatesCandidateIdTags
      summary: Remove tag from candidate
      description: "Remove a tag from a candidate based on its name.\n\nThis will also succeed if the tag does not exist on the candidate.\n\n<Note>\n  This endpoint requires the permission **Manage tags** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"tag\": {\n    \"name\": \"Excellent Fit\"\n  }\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: candidate_id
        in: path
        required: true
        description: The Kombo ID of the candidate you want to remove the tag from.
        schema:
          $ref: '#/components/schemas/DeleteAtsCandidatesCandidateIdTagsParameterCandidateId'
        examples:
          example1:
            value: 8Xi6iZrwusZqJmDGXs49GBmJ
      requestBody:
        description: DELETE /ats/candidates/:candidate_id/tags Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAtsCandidatesCandidateIdTagsRequestBody'
            examples:
              example1:
                value:
                  tag:
                    name: Excellent Fit
      responses:
        '200':
          description: DELETE /ats/candidates/:candidate_id/tags Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAtsCandidatesCandidateIdTagsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data: {}
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/tags:
    get:
      operationId: GetAtsTags
      summary: Get tags
      description: 'Retrieve all tags.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsTagsParameterRemoteIds'
      responses:
        '200':
          description: GET /ats/tags Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsTagsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        name: High Potential
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/application-stages:
    get:
      operationId: GetAtsApplicationStages
      summary: Get application stages
      description: "Get all application stages available in the ATS.\n\n<Warning>\n  **This endpoint is deprecated!**\n\n  Get all application stages available in the ATS. This is deprecated because most ATS systems have separate sets of stages for each job. We'd recommend using the `stages` property from the [GET Jobs endpoint](/ats/v1/get-jobs) instead.\n\n**Important**: Using global stages can cause \"Stage not found\" errors when moving applications, especially with systems like Workable that have job-specific stages.\n\n[Moving Applications Guide](/ats/implementation-guide/moving-and-rejecting-candidates).\n</Warning>\n\nTop level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsApplicationStagesParameterRemoteIds'
      responses:
        '200':
          description: GET /ats/application-stages Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsApplicationStagesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 5J7L4b48wBfffYwek9Az9pkM
                        remote_id: '32'
                        name: Initial Screening
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/jobs:
    get:
      operationId: GetAtsJobs
      summary: Get jobs
      description: 'Retrieve all jobs.


        Visit our in-depth guides to learn more about:


        - 🔄 [Getting updates of the data](/ats/features/implementation-guide/reading-jobs#getting-updates-of-the-data)

        - ❗ [Handling failing syncs](/ats/features/implementation-guide/reading-jobs#handling-failing-syncs)

        - 🔍 [Letting your customer choose which jobs to expose](/ats/features/implementation-guide/reading-jobs#let-your-customer-choose-which-jobs-to-expose-to-you)

        - 🔗 [Matching jobs in your database to ATS jobs](/ats/features/implementation-guide/reading-jobs#match-jobs-in-your-database-to-ats-jobs)

        - 🗑️ [Reacting to deleted/closed jobs](/ats/features/implementation-guide/reading-jobs#reacting-to-deleted-closed-jobs)


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `stages` | ✓ Yes | ✗ No |

          | `screening_questions` | ✓ Yes | ✗ No |

          | `job_postings` | ✓ Yes | ✓ Yes |

          | `hiring_team` | ✓ Yes | ✗ No |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterRemoteIds'
      - name: job_codes
        in: query
        required: false
        description: Filter by a comma-separated list of job codes.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterJobCodes'
      - name: post_url
        in: query
        required: false
        description: Filter by the `post_url` field. Can be used to find a job based on its public posting URL.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterPostUrl'
      - name: status
        in: query
        required: false
        description: '**(⚠️ Deprecated - Use the `statuses` filter instead.)** Filter by the `status` field. Can be used to find a job based on its status.'
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterStatus'
      - name: statuses
        in: query
        required: false
        description: "Filter by a comma-separated list of `OPEN`, `CLOSED`, `DRAFT`, `ARCHIVED`  \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterStatuses'
      - name: employment_types
        in: query
        required: false
        description: "Filter by a comma-separated list of `FULL_TIME`, `PART_TIME`, `CONTRACT`, `SEASONAL`, `INTERNSHIP`  \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterEmploymentTypes'
      - name: visibilities
        in: query
        required: false
        description: "Filter by a comma-separated list of `PUBLIC`, `INTERNAL`, `UNLISTED`, `CONFIDENTIAL`  \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterVisibilities'
      - name: remote_created_after
        in: query
        required: false
        description: Filter jobs by the day they were created in the remote system. This allows you to get jobs that were created on or after a certain day.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterRemoteCreatedAfter'
      - name: name_contains
        in: query
        required: false
        description: Filter by the `name` field. Can be used to find a job by keywords present in the job name.
        schema:
          $ref: '#/components/schemas/GetAtsJobsParameterNameContains'
      responses:
        '200':
          description: GET /ats/jobs Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsJobsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: H5daSm8e85Dmvmne3wLeCPhX
                        remote_id: '32'
                        name: Backend Engineer
                        job_code: BE-2021-01
                        description: <p>Kombo is hiring engineers! If you are reading this and you are located in Berlin, Germany, feel free to contact us about this position.</p>
                        confidential: false
                        weekly_hours: 37
                        employment_type: FULL_TIME
                        status: OPEN
                        visibility: PUBLIC
                        category: Technical Job
                        department: Engineering
                        post_url: https://jobs.example.com/post/159829112
                        experience_level: Mid-Senior
                        remote_work_status: HYBRID
                        salary_amount: 4200
                        salary_amount_from: null
                        salary_amount_to: null
                        salary_currency: EUR
                        salary_period: MONTH
                        location:
                          city: Berlin
                          country: DE
                          raw: Berlin, Germany
                          state: Berlin
                          street_1: Lohmühlenstraße 65
                          street_2: null
                          zip_code: '12435'
                        custom_fields: {}
                        integration_fields: []
                        remote_url: https://app.greenhouse.io/jobs/32
                        opened_at: '2022-08-07T14:01:29.196Z'
                        closed_at: null
                        remote_created_at: '2022-08-07T14:01:29.196Z'
                        remote_updated_at: '2022-08-07T14:01:29.196Z'
                        contact_id: 6gT2yLMBEipd3zpezATv3Rhu
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        stages:
                        - id: 5J7L4b48wBfffYwek9Az9pkM
                          remote_id: '32'
                          name: Initial Screening
                          remote_data: null
                          index: 0
                        screening_questions:
                        - id: 26vafvWSRmbhNcxJYqjCzuJg
                          remote_id: 48b4d36a-1d4b-4c50-ada7-9519078e65b4
                          title: Which is your primary programming language?
                          description: Please enter the language you are most comfortable with.
                          format:
                            display_type: SINGLE_LINE
                            max_length: null
                            type: TEXT
                          category: null
                          index: 0
                          required: true
                          precondition_question_id: 4ZVteCSSgDw3BdwGzcQqGEPk
                          precondition_options:
                          - 7qd5qjPwDHarsMLFMGzXYG1K
                        job_postings:
                        - id: 26vafvWSRmbhNcxJYqjCzuJg
                          remote_id: 48b4d36a-1d4b-4c50-ada7-9519078e65b4
                          title: Frontend Engineer
                          description_html: <p>We are looking for a Frontend Engineer.</p>
                          status: ACTIVE
                          visibility: PUBLIC
                          url: https://jobs.example.com/post/159829112
                          remote_data: null
                        hiring_team:
                        - id: 26vafvWSRmbhNcxJYqjCzuJg
                          remote_id: '32'
                          first_name: John
                          last_name: Doe
                          email: john.doe@kombo.dev
                          hiring_team_roles:
                          - RECRUITER
                          job_roles:
                          - remote_id: '32'
                            remote_label: Hiring Manager
                            scope: JOB
                            unified_type: HIRING_MANAGER
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/jobs/{job_id}/applications:
    post:
      operationId: PostAtsJobsJobIdApplications
      summary: Create application
      description: "Create a new application and candidate for the specified job.\n\nVisit our in-depth guides to learn more about:\n\n- \U0001F310 [Setting the source of the application](/ats/features/implementation-guide/creating-applications#set-the-source-of-the-application) \n- \U0001F4CE [Uploading attachments with the application](/ats/features/implementation-guide/creating-applications#upload-attachments-with-the-application) \n- ♻️ [Retry behaviour](/ats/features/implementation-guide/creating-applications#retry-behaviour) \n- ✏️ [Writing answers to screening questions](/ats/features/implementation-guide/creating-applications#write-answers-to-screening-questions) \n- ⚠️ [Handling ATS-specific limitations](/ats/features/implementation-guide/creating-applications#handle-ats-specific-limitations)\n\n<Note>\n  This endpoint requires the permission **Create applications and candidates** to be enabled in [your scope config](/scopes).\n</Note>\n\n### Example Request Body\n\n```json\n{\n  \"candidate\": {\n    \"first_name\": \"Frank\",\n    \"last_name\": \"Doe\",\n    \"company\": \"Acme Inc.\",\n    \"title\": \"Head of Integrations\",\n    \"email_address\": \"frank.doe@example.com\",\n    \"phone_number\": \"+1-541-754-3010\",\n    \"gender\": \"MALE\",\n    \"salary_expectations\": {\n      \"amount\": 100000,\n      \"period\": \"YEAR\"\n    },\n    \"availability_date\": \"2021-01-01\",\n    \"location\": {\n      \"city\": \"New York\",\n      \"zip_code\": \"10016\",\n      \"state\": \"NY\",\n      \"country\": \"US\"\n    }\n  },\n  \"stage_id\": \"8x3YKRDcuRnwShdh96ShBNn1\",\n  \"attachments\": [\n    {\n      \"name\": \"Frank Doe CV.txt\",\n      \"data\": \"SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=\",\n      \"type\": \"CV\",\n      \"content_type\": \"text/plain\"\n    }\n  ],\n  \"screening_question_answers\": [\n    {\n      \"question_id\": \"3phFBNXRweGnDmsU9o2vdPuQ\",\n      \"answer\": \"Yes\"\n    },\n    {\n      \"question_id\": \"EYJjhMQT3LtVKXnTbnRT8s6U\",\n      \"answer\": [\n        \"GUzE666zfyjeoCJX6A8n7wh6\",\n        \"5WPHzzKAv8cx97KtHRUV96U8\",\n        \"7yZfKGzWigXxxRTygqAfHvyE\"\n      ]\n    }\n  ],\n  \"remote_fields\": {}\n}\n```"
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: job_id
        in: path
        required: true
        description: The Kombo ID or Remote ID of the Job this candidate should apply for. If you want to use the ID of the integrated system (remote_id) you need to prefix the id with "remote:". You can use the remote ID if you do not want to sync jobs.
        schema:
          $ref: '#/components/schemas/PostAtsJobsJobIdApplicationsParameterJobId'
        examples:
          example1:
            value: BDpgnpZ148nrGh4mYHNxJBgx
      requestBody:
        description: POST /ats/jobs/:job_id/applications Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAtsJobsJobIdApplicationsRequestBody'
            examples:
              example1:
                value:
                  candidate:
                    first_name: Frank
                    last_name: Doe
                    company: Acme Inc.
                    title: Head of Integrations
                    email_address: frank.doe@example.com
                    phone_number: +1-541-754-3010
                    gender: MALE
                    salary_expectations:
                      amount: 100000
                      period: YEAR
                    availability_date: '2021-01-01'
                    location:
                      city: New York
                      zip_code: '10016'
                      state: NY
                      country: US
                  stage_id: 8x3YKRDcuRnwShdh96ShBNn1
                  attachments:
                  - name: Frank Doe CV.txt
                    data: SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=
                    type: CV
                    content_type: text/plain
                  screening_question_answers:
                  - question_id: 3phFBNXRweGnDmsU9o2vdPuQ
                    answer: 'Yes'
                  - question_id: EYJjhMQT3LtVKXnTbnRT8s6U
                    answer:
                    - GUzE666zfyjeoCJX6A8n7wh6
                    - 5WPHzzKAv8cx97KtHRUV96U8
                    - 7yZfKGzWigXxxRTygqAfHvyE
      responses:
        '200':
          description: POST /ats/jobs/:job_id/applications Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAtsJobsJobIdApplicationsPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: H77fDF8uvEzGNPRubiz5DvQ7
                      remote_id: '32'
                      outcome: PENDING
                      rejection_reason_name: null
                      rejected_at: null
                      current_stage_id: 5J7L4b48wBfffYwek9Az9pkM
                      job_id: H5daSm8e85Dmvmne3wLeCPhX
                      candidate_id: 26vafvWSRmbhNcxJYqjCzuJg
                      screening_question_answers: []
                      custom_fields: {}
                      integration_fields: []
                      remote_url: https://example.com/applications/32
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: null
                      remote_created_at: '2022-04-02T00:00:00.000Z'
                      remote_updated_at: '2022-04-04T00:00:00.000Z'
                      remote_data: null
                      current_stage:
                        id: 5J7L4b48wBfffYwek9Az9pkM
                        name: Interview
                        remote_id: '5'
                        index: 2
                      job:
                        id: H5daSm8e85Dmvmne3wLeCPhX
                        name: Head of Integrations
                        remote_id: '1'
                      candidate:
                        id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        first_name: John
                        last_name: Doe
                        company: Acme, Inc.
                        title: Head of Marketing
                        confidential: false
                        source: Employee Referral
                        phone_numbers:
                        - phone_number: +1-541-754-3010
                          type: HOME
                        email_addresses:
                        - email_address: john.doe@example.com
                          type: PRIVATE
                        social_media:
                        - link: https://www.youtube.com/watch?v=dQw4w9WgXcQ
                          type: YOUTUBE
                          username: null
                        location:
                          city: Berlin
                          country: DE
                          raw: Berlin, Germany
                          state: Berlin
                          street_1: Lohmühlenstraße 65
                          street_2: null
                          zip_code: '12435'
                        custom_fields: {}
                        integration_fields: []
                        remote_url: https://example.com/candidates/32
                        remote_created_at: '2022-04-02T00:00:00.000Z'
                        remote_updated_at: '2022-04-04T00:00:00.000Z'
                        remote_data: null
                        changed_at: '2022-04-04T00:00:00.000Z'
                        remote_deleted_at: null
                        tags:
                        - id: 7DHDky9zk4qnWkycuuQjFXNh
                          name: Fast Learner
                          remote_id: '1'
                    warnings:
                    - message: This is an example warning!
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/users:
    get:
      operationId: GetAtsUsers
      summary: Get users
      description: 'Retrieve all users.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `system_role_assignment` | ✓ Yes | ✓ Yes |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterRemoteIds'
      - name: emails
        in: query
        required: false
        description: Filter by a comma-separated list of emails. We will only return users who have _any_ of the emails. The format of the emails is case-insensitive.
        schema:
          $ref: '#/components/schemas/GetAtsUsersParameterEmails'
      responses:
        '200':
          description: GET /ats/users Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsUsersPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        first_name: John
                        last_name: Doe
                        email: john.doe@kombo.dev
                        status: ACTIVE
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
                        system_roles:
                        - remote_id: '32'
                          remote_label: Hiring Manager
                          scope: JOB
                          unified_type: HIRING_MANAGER
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/roles:
    get:
      operationId: GetAtsRoles
      summary: Get roles
      description: 'Retrieve all roles.


        Visit our in-depth guide about [roles](/ats/features/roles) to learn more.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, only changes to the returned record itself are considered.'
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterRemoteIds'
      - name: scopes
        in: query
        required: false
        description: "Filter by a comma-separated list of `SYSTEM`, `JOB` \n* `SYSTEM`: System-wide roles that apply globally (e.g., an \"Admin\" role). \n* `JOB`: Job-scoped roles that apply to specific jobs (e.g., a \"Hiring Manager\" role). \n \n\nLeave this blank to get results matching all values."
        schema:
          $ref: '#/components/schemas/GetAtsRolesParameterScopes'
      responses:
        '200':
          description: GET /ats/roles Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsRolesPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                      - id: 26vafvWSRmbhNcxJYqjCzuJg
                        remote_id: '32'
                        remote_label: Hiring Manager
                        scope: JOB
                        unified_type: HIRING_MANAGER
                        remote_data: null
                        changed_at: '2022-08-07T14:01:29.196Z'
                        remote_deleted_at: null
        default:
          $ref: '#/components/responses/ErrorResponseATS'
  /ats/offers:
    get:
      operationId: GetAtsOffers
      summary: Get offers
      description: 'Retrieve all offers.


        Top level filters use AND, while individual filters use OR if they accept multiple arguments. That means filters will be resolved like this: `(id IN ids) AND (remote_id IN remote_ids)`'
      tags:
      - Unified ATS API
      parameters:
      - in: header
        name: X-Integration-Id
        schema:
          type: string
        description: ID of the integration you want to interact with.
        example: join:HWUTwvyx2wLoSUHphiWVrp28
        required: true
      - name: cursor
        in: query
        required: false
        description: An optional cursor string used for pagination. This can be retrieved from the `next` property of the previous page response.
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterCursor'
      - name: page_size
        in: query
        required: false
        description: The number of results to return per page. Maximum is 250.
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterPageSize'
      - name: updated_after
        in: query
        required: false
        description: 'Filter the entries based on the modification date in format `YYYY-MM-DDTHH:mm:ss.sssZ`. Returns records where either the record itself **OR** its nested data has been updated since this timestamp, even if the record''s own `changed_at` field remains unchanged.


          If you want to track entry deletion, also set the `include_deleted=true` query parameter, because otherwise, deleted entries will be hidden.


          For more details, see [Understanding changed_at vs updated_after Behavior](https://docs.kombo.dev/ats/getting-started/fetching-data#understanding-changed_at-vs-updated_after-behavior).


          For this endpoint, `updated_after` matches when the returned record changed, or when related data changed as described below.


          | Path | Added/Removed | Linked Record |

          | --- | --- | --- |

          | `application` | n/a | ✓ Yes |

          | `application` → `candidate` | ✗ No | ✗ No |

          | `application` → `job` | ✗ No | ✗ No |


          _**Added/Removed**: Whether adding or removing entries from this list triggers an update (n/a for single records). **Linked Record**: Whether changes to the linked record itself trigger an update._'
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterUpdatedAfter'
      - name: include_deleted
        in: query
        required: false
        description: By default, deleted entries are not returned. Use the `include_deleted` query param to include deleted entries too.
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterIncludeDeleted'
      - name: ignore_unsupported_filters
        in: query
        required: false
        description: When set to `true`, filters targeting fields not supported by this integration will be ignored instead of filtering out all results.
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterIgnoreUnsupportedFilters'
      - name: ids
        in: query
        required: false
        description: Filter by a comma-separated list of IDs such as `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`.
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterIds'
      - name: remote_ids
        in: query
        required: false
        description: Filter by a comma-separated list of remote IDs.
        schema:
          $ref: '#/components/schemas/GetAtsOffersParameterRemoteIds'
      responses:
        '200':
          description: GET /ats/offers Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAtsOffersPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
[...]
